<div class="container">
  	<div class="row mt-3">
		<div class= "col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Total Authors</h5>
					<p class="card-text"><%= @count[:authors] %></p>
				</div>
			</div>
		</div>
		
		<div class= "col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Total Books</h5>
					<p class="card-text"><%= @count[:books] %></p>
				</div>
			</div>
		</div>
	</div>
</div>